
/* common */
.disabled {pointer-events: none; opacity: 0.4; cursor: default;}


html, body, #root, #root > div { height: 100%; }
body { margin: 0; padding: 0; font-family:'Noto Sans KR', "Malgun Gothic", sans-serif; }
input[type=text]::-ms-clear{display:none;}


.btn+.btn{margin-left:10px;}


.btn {display: inline-block;min-width: 60px;padding: 0px 16px; height:28px; line-height:26px; font-size: 14px !important; box-sizing: border-box;text-align: center;vertical-align: top;position: relative;border-radius:0;border: 1px solid #6E747A;color: #66C5FF;}
.btn:hover {color:#99D8FF;background-color:rgba(40,172,252,.08);}
.btn:disabled, .btn.disabled {color: #9DA2A6 !important;border-color: transparent !important; cursor: default;}
/*기본 버튼 설정*/


.tree-btn {position:absolute;top:5px;right:10px;}

/*텍스트형 버튼 스타일*/
.btn.text{border:none !important;}
.btn.text:hover {background-color:transparent;}

/*솔리드형 버튼 설정*/
.btn.solid {background:#0F7ACB; border-color:#0F7ACB; color:#fff}
.btn.solid:hover {background:#28ACFC; border-color: #28ACFC;}
.btn.solid.sub {background:#00725B; border-color:#00725B;}
.btn.solid.sub:hover {background:#00B38C; border-color:#00B38C;}
.btn.solid.danger {background:#FD4547; border-color: #FD4547}
.btn.solid.warning {background:#FFBB00; border-color: #FFBB00}
.btn.solid.normal {background:#80BF26; border-color: #80BF26}
.btn.solid.safe {background:#2471F2; border-color: #2471F2}

div.ui_input {display: flex;align-items: center;}
.ui_input {outline: none; display:inline-block;margin-bottom: 10px;width:150px;height:28px;padding:0 8px;font-size:13px;box-sizing:border-box;background-color: #61666b;vertical-align:top;color:#fafafa;border:1px solid transparent;}
.ui_input.disabled {background-color:#4A4F54;}
.ui_input:active, .ui_input:focus{border-color:#28ACFC;}
.ui_input:read-only {background-color:#4a4f54;color:#9DA2A6;}
.ui_input:disabled {background-color:#4a4f54;color:#9DA2A6;}
.ui_input:disabled:active, .ui_input:disabled:focus{border-color:#9DA2A6;}
.ui_input.full{width:100%;}

#root { background-color: #3b3b3b; color: #fff; }
ol, ul { list-style: none; }
.h-95 { height: 95%; }
.h-90 { height: 90%; }
.h-5 { height: 5%; }
.ml-5 { margin-left: 5px; }
.mr-3 { margin-right: 3px; }
.mr-10 { margin-right: 10px; }
.w_full {width:100%!important;}
.input_t1 { width: 150px; height:30px; background-color:#fff; line-height:32px; font-size:13px; color:#515151; padding:0 9px; box-sizing:border-box; }
.row { margin: 0; padding: 10px; }
.row > * { padding: 0; }
.row .box { overflow: hidden; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.075); height: 100%; padding: 0 10px 10px 10px; border: 1px solid rgba(255, 255, 255, 0.1) }
.row .box h2 { margin-bottom: 0px; font-size: 16px; font-weight: bold; line-height: 36px; border-bottom: 1px solid rgba(255 ,255, 255,.1 ); height: 40px; box-sizing: border-box; }
.row .box .box-content { width: calc(100% + 3px); height: calc(100% - 40px); overflow-y: auto; }
.row .box .box-content:hover::-webkit-scrollbar { color: #ff0000; }
/* scroll */
.box-content::-webkit-scrollbar { width: 3px; }
.box-content::-webkit-scrollbar-thumb { background: transparent; border-radius: 3px; background-clip: padding-box; border: 1px solid transparent; }
.box-content:hover::-webkit-scrollbar-thumb { background: #d8dce6; }

/*  menu management */
.menu-tree { position:relative;width: calc(31% - 10px); margin-right: 10px; }
.menu-detail {width: calc(69% - 4px);}

/* props menu */
.apply-menu { width: calc(31% - 10px); margin-right: 10px; }
.incoming-event { width: calc(23% - 10px); margin-right: 10px; }
.cctv-function { width: calc(23% - 10px); margin-right: 10px; }
.front-setting { width: 23%; }
.front-setting .subgroup_setup { padding-left: 0; }
.front-setting h3 { height:auto; font-size:13px; position:relative; box-sizing: border-box; padding-left:15px; }
.front-setting h3:before {content:'';display:inline-block;width:8px;height:8px;border-radius:4px; background:#fff;position:absolute;top:50%;left:0px;margin-top:-4px;}
.front-setting li { margin: 0 10px 20px 10px; }
.front-setting li p {font-size:13px; padding: 5px 5px; margin-bottom: 5px; }
.front-setting .radio_area { text-align:right; position:relative; height:25px; } 
.front-setting .radio_area input[type="radio"] { vertical-align: middle; margin-top: -4px; } 
.front-setting .st1:before {content:'장애등록 : '; display:inline-block; position:absolute; top:0; left:5px; font-size:13px; }
.front-setting .st2:before {content:'업무관리 : '; display:inline-block; position:absolute; top:0; left:5px; font-size:13px; }

.radio_wrap {margin-right:8px;}
.radio_area .radio_wrap label {font-size:12px;}


/* bottom btn bar */
.bottom { padding: 0 10px 10px 10px; display: flex; justify-content: space-between; align-items: center; }
.btn-left{float:left;}
.btn-right{float:right;}
/* table */
.tableArea { box-sizing:border-box; overflow:auto; }
.tableArea table { width: 100%; border-spacing: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.tableArea.tbl_row { overflow:visible; }
.tableArea td:first-child, .tableArea th:first-child { border-left: 0px; }
.tableArea table { width:100%;border-spacing: 0;border-bottom:1px solid rgba(255, 255, 255, 0.15);}
.tableArea td, .tableArea th { border-top:1px solid rgba(255, 255, 255, 0.15); border-left:0px solid #131d29; padding:0 5px}
.tableArea th {color:#f3f3f3;background-color:rgba(255, 255, 255, 0.075);font-size:13px;line-height:16px;padding: 3px 10px;border-left:1px solid rgba(0, 0, 0, 0.15);font-weight:400;box-sizing: border-box;height:28px;}
.tableArea td {color:#f3f3f3;text-align:center;line-height:16px; padding: 3px 8px;height:28px;box-sizing:border-box;font-size:13px;}
.tableArea.tbl_row td {padding:3px 5px;text-align:left;}
.tableArea td span:after {content:' '; }
.tableArea td:first-child, .tableArea th:first-child {border-left:0px;}
.tableArea tbody:hover td { background:rgba(255, 255, 255, 0.075); }
.tableArea.tbl_row tr:hover td {background:none;}
.tableArea tr.on td {background: rgba(48, 128, 208,.5);}

/* checkbox wrap */
.checkbox_wrap { display: flex; align-items: flex-end; }
.checkbox_wrap input[type=checkbox] { width: 16px; height: 16px; border-radius: 0; margin-right: 5px; }
.checkbox_wrap .form-check-input:checked { background-color: #3080d0; border-color: #3080d0; background-size: 19px; }

/* radio_wrap */
.radio_wrap input[type=radio] { cursor: pointer; appearance: none; width: 17px; height: 17px; border-radius: 100%; margin-right: 0.1rem; border: 3px solid #fff; background-color: #fff; }
.radio_wrap input[type=radio]:checked { background-color: #3080d0; }

/* list */
.menu_wrap { padding-left: 0; }
.menu_title { display:inline-block; font-size:13px; margin-right:20px; line-height:24px; }
.menu_title .checkbox_wrap { align-items: center; }
.menu_title .checkbox_wrap .form-check-input { margin-top: 0; }
.menu_head {height:40px;padding:10px;box-sizing: border-box; position:relative;}
.menu_list .sub_menu { box-sizing:border-box; padding:10px; padding-left:30px; }
.menu_list .sub_menu > ul { background-color: rgba(255, 255, 255, 0.075); padding-left: 0; }
.menu_list .sub_menu > ul > li { padding:5px; }
.menu_list .txt_warn {display:inline-block; width:auto;}

/* login */
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }
h1, h4, h5, .h1, .h2, .h3, .h4, .h5 { line-height: 1.5; font-weight: 400; font-family: "Lato", Arial, sans-serif; color: #000; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
.p-0 { padding: 0 !important; }
.mb-4, .my-4 { margin-bottom: 1.5rem !important; }
.mb-5, .my-5 { margin-bottom: 3rem !important; }
.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.justify-content-center { -webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 768px) { .col-md-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } }
@media (min-width: 992px) { .col-lg-4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; } }

.ftco-section { padding: 10em 0; }
.heading-section { font-size: 28px; color: #fff; }
.text-center { text-align: center !important; }

.login-wrap { position: relative; color: rgba(255, 255, 255, 0.9); text-align: center; }
.login-wrap { position: relative; color: rgba(255, 255, 255, 0.9); }
.login-wrap h3 { font-weight: 300; color: #fff; }
.login-wrap .social { width: 100%; }
.login-wrap .social a { width: 100%; display: block; border: 1px solid rgba(255, 255, 255, 0.4); color: #000; background: #fff; }
.login-wrap .social a:hover { background: #000; color: #fff; border-color: #000; }

.form-group { position: relative; }
.form-group { margin-bottom: 1rem; }
.form-group { position: relative; }
.login-error { font-size: 12px; font-weight: bold; color: #ff0000; }
.field-icon { position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); color: rgba(255, 255, 255, 0.9); }
.form-control { background: transparent; border: none; width: 100%; height: 50px; color: white !important; border: 1px solid transparent; background: rgba(255, 255, 255, 0.08); border-radius: 40px; padding-left: 20px; padding-right: 20px; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: rgba(255, 255, 255, 0.8) !important; }
.form-control::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 0.8) !important; }
.form-control:-ms-input-placeholder { /* IE 10+ */ color: rgba(255, 255, 255, 0.8) !important; }
.form-control:-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 0.8) !important; }
.form-control:hover, .form-control:focus { background: transparent; outline: none; -webkit-box-shadow: none; box-shadow: none; border-color: rgba(255, 255, 255, 0.4); }
.form-control:focus { border-color: rgba(255, 255, 255, 0.4); }
@media (prefers-reduced-motion: reduce) { .form-control { -webkit-transition: none; -o-transition: none; transition: none; } }


/* tabs */
.tab_wrap {height:5% ;}
.nav_tabs {border-bottom:1px solid #3080d0;margin-bottom: 20px;	display:flex;flex-wrap:wrap;padding-left:15px;padding-top:5px;list-style:none;position:relative}
.nav_tabs .nav_link {
	background-color: #3B3B3B; margin-bottom: -1px;
	color: #A4A4A4;border: 1px solid transparent;border-bottom-color:#3080d0;
	border-top-left-radius: 0; border-top-right-radius: 0;    display: block; line-height:28px;
	padding: 0.5rem 1rem; text-decoration: none;font-size:15px;	  box-sizing:border-box;height:42px;}
.nav_tabs .nav_item.on .nav_link {
	color: #fff;border-color: #3080d0;border-bottom-color:transparent;
}
.nav_tabs .nav_item:hover {
	color: #fff;
}
.tab_content_wrap {height:calc(100% - 42px);overflow-y:auto}
.nav_tabs button {position:absolute;right:0;top:2px;}
.nav_item {position:relative}
.tab_content {display:none}

/* confirm */
.react-confirm-alert-overlay { background: rgba(0, 0, 0, 0.7) !important; }
.react-confirm-alert .react-confirm-alert-body { text-align: center; border-radius: 0; width: 385px; padding: 30px; font-size: 13px; font-weight: 600; white-space: pre-line; }
.react-confirm-alert .react-confirm-alert-body h1 { font-size: 15px; font-weight: 600;}
.react-confirm-alert .react-confirm-alert-body .react-confirm-alert-button-group {  justify-content: center; }
.react-confirm-alert .react-confirm-alert-body .react-confirm-alert-button-group button:first-child { border-radius: .2rem; color: #fff; background-color: #464545; border-color: #464545; }
.react-confirm-alert .react-confirm-alert-body .react-confirm-alert-button-group button:last-child { border-radius: .2rem; color: #fff; background-color: #0d6efd; border-color: #0d6efd; }

/* confirm failure / success */
.react-confirm-alert-overlay.warning .react-confirm-alert-body { color: #ff0000; width: 800px; font-size: 20px; }
.react-confirm-alert-overlay.warning .react-confirm-alert-body h1 { color: #ff0000; font-size: 50px; }


.react-confirm-alert-overlay.failure .react-confirm-alert-body::before {
    font-family: "Font Awesome 5 Free"; font-size: 30px; font-weight: 900; content: "\f057"; color: #ff0000;
}
.react-confirm-alert-overlay.success .react-confirm-alert-body::before {
    font-family: "Font Awesome 5 Free"; font-size: 30px; font-weight: 900; content: "\f058"; color: #28a745;
}


.scroll-wrap {overflow-y:auto; height:800px;margin-top:15px;}
.scroll-wrap::-webkit-scrollbar {width: 5px;}
.scroll-wrap::-webkit-scrollbar-thumb {background-color: white;border-radius: 5px;}
.scroll-wrap::-webkit-scrollbar-track {background-color: grey;border-radius: 5px;box-shadow: inset 0px 0px 5px black;}
.scroll-wrap ol, ul {padding-left:1rem}
button {background-color: transparent;border:0; outline:0;color:white;cursor:pointer;}
.menu-clicking.clicked{color:#3080d0;}
.can-open {display: inline-block; width:20px;font-size:13px;color:rgba(255,255,255,0.6)}

.menu-tree { width: calc(31% - 10px); margin-right: 10px; }

.btn-container {position:absolute;width:100%;bottom:0;right:0;}
.menu-detail .menu-content-wrap {height: 750px;position:relative;}
.menu-detail .menu-content-wrap h3 { height:16px; margin: 16px 12px 8px 12px;font-size:13px; position:relative; box-sizing: border-box; padding-left:15px; }
.menu-detail .menu-content-wrap h3.half { width:48%; display:inline-block; }
.menu-detail .menu-content-wrap h3:before {content:'';display:inline-block;width:8px;height:8px;border-radius:4px; background:#fff;position:absolute;top:50%;left:0px;margin-top:-4px;}
.menu-detail li { margin: 0 10px 20px 10px; }
.menu-detail li p {font-size:13px; padding: 5px 5px; margin-bottom: 5px; }
.menu-detail .radio_area { text-align:right;margin-bottom:10px; position:relative; height:25px; } 
.menu-detail .radio_area input[type="radio"] { vertical-align: middle; margin-top: -4px; } 
.menu-detail .st1:before {content:'장애등록 : '; display:inline-block; position:absolute; top:0; left:5px; font-size:13px; }
.menu-detail .st2:before {content:'업무관리 : '; display:inline-block; position:absolute; top:0; left:5px; font-size:13px; }


.content-box .ui_input.half {width: calc((100% - 12px)/2);}
.content-box .ui_input.half:first-child {margin-right:10px;}
.content-box .ui_input.forPreview {width: calc((100% - 12px)/16*7);}

.content-box .preview {position:absolute;top:-25px;right:10px;display:flex;font-size:50px; background-color: transparent;justify-content: center;width:60px;height:60px;}

.w-bg-box {background-color:rgba(255,255,255,0.075);padding:8px;margin-bottom:10px;}


.alert-msg {width:100%;height:850px;padding:10px;display: flex;align-items: center;align-content:center;justify-content: center;}
.alert-msg i{font-size:60px;width:70px;}
.alert-msg span{display:block;font-size:20px;font-weight: 100;}