.treeRoot {
  height: 100%;
}

.draggingSource {
  /* opacity: 0.3; */
}

.placeholderContainer {
  position: relative;
}

.dropTarget {
  background-color: #e8f0fe;
}

.root {
  background-color: rgba(255,255,255,0.2);
  height: 2px;
  width: 200px;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 0;
}
